h1 {
    font-size: 50pt;
    margin-top: 8%;
    color: #FF5757;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 200;
    letter-spacing: 10pt;
}

span.line {
  font-size: 33pt;
}

.gallery-images {
    width: 90%;
    margin: auto;
    .gallery-image {
      margin-top: 4%;
      width: 70%;
      margin: auto;
      margin-top: 7%;
      margin-bottom: 7%;
      p {
        text-align: left;
        margin: 0;
      }
    }
    img {
        width: 100%;
    }
}

.circle {
  top: .5%;
}
@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  .gallery-images {
    margin-top: 10%;
    .gallery-image {
      margin-top: 4%;
      width: 100%;
      margin: auto;
    }
    img {
      margin-top: 7%;
      margin-bottom: 7%;
      width: 100%;
    }
  }
}
