<div class="container">
    <div class="circle"></div>
    <h1>
      <span class="line">{{ pageTitle[0] }}</span>
      <span class="line">{{ pageTitle[1] }}</span>
    </h1>
    <app-navigation></app-navigation>
    <div class="gallery-images">
        <div (click)="toggleModal(i)" class="gallery-image" *ngFor="let a of [].constructor(amount); let i = index">
            <img [src]="getFilePath(i)" alt="">
            <p>{{ desc[i+1].title }}</p>
            <p>{{ desc[i+1].medium }}</p>
        </div>
    </div>
</div>
<div class="footer"></div>
<div (click)="toggleModal(0)" *ngIf="showModal" class="modal">
  <img (click)="preventDefault($event)" [src]="modalFilePath" alt="">
</div>
