<div class="home">
  <div class="circle"></div>
  <div class="title">
    <h1>RADI PELLEGRINO</h1>
    <p>THEY/THEM</p>
    <p>VISUAL ARTIST</p>
  </div>
</div>
<app-navigation></app-navigation>
<div class="footer"></div>
