.home {
  padding-top: 4vh;
  position: relative;
  text-align: center;
  h1 {
    font-size: 49.3pt;
    color: #FF5757;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
  }
  p {
    margin-top: 0px;
    font-size: 14.2pt;
    font-weight: 700;
    letter-spacing: 2pt;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    margin-bottom: 7%;
  }
}
