@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400&family=Raleway:wght@400;600;700&display=swap');
body{
  font-family: 'Raleway', sans-serif;
  background-color: #f8f8ef;
  word-break: break-word;
}

.site-container {
  width: 100%;
}

.container {
    width: 85%;
    margin: auto;
    text-align: center;
}

.art-image {
    margin-top: 3%;
    width: 400px;
    margin: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3%;
}
.grid-half {
    grid-column: span 6;
}

.grid-full {
    grid-column: span 12;
}
.grid-2 {
    grid-column: span 2;
}
.grid-10 {
    grid-column: span 9;
}


.footer {
  background-color: #FF5757;
  height: 2.5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.circle {
  opacity: 0.19;
  background-color: #00C4CC;
  position: absolute;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  left: 0;
  right: 0;
  top: 18%;
  margin: auto;
  z-index: -1;
}

.line {
  display: inline-block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  img {
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    margin-top: 3%;
  }
}
