.navigation{
  width: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  div {
    font-family: 'Anonymous Pro', monospace;
    flex: 1;
    text-align: center;
    transition: background-color .3s ease;
  }
  a {
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2px;
    letter-spacing: 2pt;
    color: #FF8882;
    text-decoration: none;
    font-size: 20pt;
  }
}

.navigation div:hover {
  background-color: rgba(255, 136, 130, 0.4);
  transition: background-color .3s ease;
}

@media only screen and (max-width: 700px) {
  .navigation {
    display: block;
    margin-top: 10%;
    div {
      margin-top: 7%;
      margin-bottom: 7%;
    }
  }
}
