<div class="navigation">
  <div>
    <a class="hvr-underline-from-center" [routerLink]="['/home']">HOME</a>
  </div>
  <div>
    <a class="hvr-underline-from-center" [routerLink]="['/gallery/twenty_twenty']">2020</a>
  </div>
  <div>
    <a class="hvr-underline-from-center" [routerLink]="['/gallery/twenty_nineteen']">2019</a>
  </div>
  <div>
    <a class="hvr-underline-from-center" [routerLink]="['/gallery/twenty_eighteen']">2018</a>
  </div>
</div>
